*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*

# Created by https://www.gitignore.io/api/jekyll
# Edit at https://www.gitignore.io/?templates=jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# End of https://www.gitignore.io/api/jekyll
